/* Gutenberg editor width */
.wp-block { 
	max-width: 750px;
	padding:0;
	color:#222;
}
p, li, td, .mce-content-body {
	font-family: "Barlow",sans-serif;
	font-size:15px;
	line-height:26px;
}
h1, h2, h3, h4, h5, h6, .wp-block-button__link {
	font-family: "Barlow",sans-serif;
}

a {
	text-decoration:none;
}

/* Wide/full align */
.wp-block[data-align=full] {
	max-width:none;
}

.wp-block[data-align=wide] {
    max-width: 1080px;
}

.editor-block-list__layout>.editor-block-list__block>.editor-block-list__block-edit {
	margin:20px 0;
}

/* Title */
.editor-post-title__input {
	text-align:center;
}
.editor-post-title__block .editor-post-title__input {
	font-size: 31px;
	letter-spacing:0.5px;
	color:#000;
	font-weight:400;
	font-family: "Barlow Semi Condensed", sans-serif;
}

/* h1-h6 headings */
.wp-block-heading {
	color:#000;
}
.wp-block-heading h1, .wp-block-heading h2, .wp-block-heading h3,.wp-block-heading h4,.wp-block-heading h5,.wp-block-heading h6{
	font-weight:700;
}
.wp-block-heading h1 {
	font-size:30px;
}
.wp-block-heading h2 {
	font-size:27px;
}
.wp-block-heading h3 {
	font-size:24px;
}
.wp-block-heading h4 {
	font-size:21px;
}
.wp-block-heading h5 {
	font-size:18px;
}
.wp-block-heading h6 {
	font-size:16px;
}



/* Tables */
table { width:100%; margin-bottom:22px; border-collapse:collapse; border-color:#e5e5e5; }
td, th {  border-bottom: 1px #e5e5e5 solid; }
th { font-weight:bold; font-size:14px; background:#f5f5f5;}
tr:hover {background:#f9f9f9;}
.wp-block-table td, .wp-block-table th {
	border-color:#e5e5e5;
}
.wp-block-table .mce-content-body {
    line-height: 28px;
}

/* Latest post widget */
.wp-block-latest-posts {
	padding:0;
}
.wp-block-latest-posts li {
	list-style:none;
}
.wp-block-latest-posts.is-grid li {
	margin-bottom:15px;
}
.wp-block-latest-posts:not(.is-grid) li {
	margin-bottom:12px;
	padding-bottom:12px;
	border-bottom:1px solid #e8e8e8;
}
.wp-block-latest-posts:not(.is-grid) li:last-child {
	margin-bottom:0;
	padding-bottom:0;
	border-bottom:none;
}
.wp-block-latest-posts li a {
	color:#000;
	font-size:16px;
}
.wp-block-latest-posts__post-date {
    font-size: 13px;
    font-style: italic;
	margin-top:-4px;
    color: #888;
}
.wp-block-latest-posts.is-grid li {
	background:#f7f7f7;
	padding:15px 20px;
}

/* Categories/Archive Widget */
.wp-block-categories select, .wp-block-archives select {
    padding: 8px;
    border: 1px solid #ddd;
    width: 100%;
    height: 36px;
}
.wp-block-categories li a, .wp-block-archives li a, .wp-block-categories li, .wp-block-archives li  {
	color:#000;
}
span.wp-block-categories__post-count {
    color: #999;
	margin-left:5px;
}
/* Recent comments widget */
.wp-block-latest-comments {
	padding:0;
}
.wp-block-latest-comments__comment-meta {
	font-size:14px;
	color:#999;
}
a.wp-block-latest-comments__comment-author {
	color:#000;
	font-weight:700;
}
a.wp-block-latest-comments__comment-link {
	color:#999;
}
.wp-block-latest-comments__comment-date {
	font-style:italic;
	margin-top:2px;
	font-size:14px;
}
.wp-block-latest-comments__comment-excerpt p {
	font-size:14px;
	line-height:23px;
}

/* Button */
.wp-block-button__link {
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:12px;
	line-height:20px;
	font-weight:700;
	padding: 10px 22p 12px;
}
.wp-block-button a.wp-block-button__link:hover {
	text-decoration:none;
	opacity:.8;
}

/* Separator */
.wp-block-separator:not(.is-style-dots){
    margin: 30px auto;
    background:#ddd;
	height:1px;
	border: 0;
    clear: both;
}
.wp-block-separator:not(.is-style-dots):not(.is-style-wide){
    max-width: 180px;
}
.wp-block-separator.is-style-dots::before {
	font-size:24px;
}